In [1]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as pls

In [2]:
# Importing the salary file
salaries = pd.read_csv("Files/Univariate Statistics/Salaries.csv")
salaries.head()

   Unnamed: 0      rank discipline  yrs.since.phd  yrs.service   sex  salary
0           1      Prof          B             19           18  Male  139750
1           2      Prof          B             20           16  Male  173200
2           3  AsstProf          B              4            3  Male   79750
3           4      Prof          B             45           39  Male  115000
4           5      Prof          B             40           41  Male  141500