# Q1

List the basic data types in python and give one example each.

1. Integers - e.g 4
2. Float - e.g 4.5
3. Booleans - e.g True, False
4. Strings - e.g 'Hello'
5. List - e.g [1,3,5,7,9]
6. Dict - e.g {"a":1, "b":3, "c":7}
7. Tuples - e.g (1,2,4,5,7)

# Q2

Change the variable x = 4539.85 to a string and assign it to a new variable y an integer assign it to a new variable z Print out the type of y and z using the type function.

In [6]:
x = 4539.85
str_value = str(x)
int_value = int(x)

print("The type is : ", type(str_value))
print("The type is : ", type(int_value))

The type is :  <class 'str'>
The type is :  <class 'int'>

# Q3

What data type would you use to store  

a. the price of car? - **A Float**

b. the age of a person - **An Integer**

c. car plate number: plateNumber = "AV01-AFP"? - **A string**

# Q4

Split the statement below into two statement_1 and statement_2 such that statement_1 will be ' Thomas Partey is arguably the best player in the Black Stars' and statement_2 will be 'He is a great addition to the team'

# Q5

what values does python use to represent True and False respectively?

**True - 1**
**False - 0**

# Q6

write a code to evaluate if the following statments are True or False.

1. 78 is greater than 46 and less than 30 which is an odd number.

2. is an even number or 8 is a 8-2 is an odd number.

3. The number of characters in the word 'boostrap' is 7 and that of 'sample' is 6.

In [11]:
# 1. 78 is greater than 46 and less than 30 which is an odd number.
78 > 46 and 78 > 30

True

In [12]:
# 3. The number of characters in the word 'boostrap' is 7 and that of 'sample' is 6.
len('boostrap') == 7 and len('sample') == 6

False

# Q7

Given the following python code, write an expression to return 'How'

In [16]:
word='Hello. How are you?'
word[7:10]

'How'

# Q8

What is the right way to create a string for Ault'Kelly

In [17]:
str1 = 'Ault\'Kelly'
str1

"Ault'Kelly"

# Q9

What data type would you use to store the price of a CD? **A Float data type**

# Q10

How would you print out the following variable in all upper case in Python?

In [18]:
greet = 'Hello Bob'
print(greet.upper())

HELLO BOB

# Q11

Unpack the following collections to variable and print out each of the variable:

In [ ]:
fruits = ['apple','pineapple','grape','watermelon']

# Q12

Can a string character be concatenated with a float or integer(If yes or no give a brief explanation)

# Q13

What type of datatype does using the input() function automatically produce?