In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
%matplotlib inline
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("assessment.csv")
df.head()

,user_id,Channel,TotalTransactionAmount,Tx_Count,DaysSinceLastTrans,reseller_id,superdealer_id,Product_ServiceProvider,Product_Type,Product_Category
0,1191,8.0,532700,137,30,1130.0,18.0,Jos Electric,Postpaid,Electricity
1,1287,1.0,1635552,131,30,0.0,18.0,MTN,Airtime,Telco
2,1168,8.0,548300,114,30,1130.0,18.0,Jos Electric,Postpaid,Electricity
3,1119,2.0,12200,13,30,0.0,447.0,Airtel,Data,Telco
4,1168,8.0,211700,75,30,1130.0,18.0,Jos Electric,Prepaid,Electricity

In [3]:
df.shape

(2635, 10)

In [4]:
df.describe()

,user_id,Channel,TotalTransactionAmount,Tx_Count,DaysSinceLastTrans,reseller_id,superdealer_id
count,2635.000000,2633.000000,2.635000e+03,2635.000000,2635.000000,2633.000000,2633.000000
mean,1251.568880,1.730725,5.815019e+04,91.971157,119.154459,108.876946,389.900494
std,664.557929,1.834539,5.766734e+05,1223.775908,84.336623,379.661037,271.553301
min,3.000000,1.000000,1.000000e+00,1.000000,30.000000,0.000000,0.000000
25%,816.000000,1.000000,2.000000e+02,1.000000,54.000000,0.000000,447.000000
50%,1140.000000,1.000000,1.000000e+03,3.000000,107.000000,0.000000,447.000000
75%,1613.500000,2.000000,4.952000e+03,9.000000,147.000000,0.000000,447.000000
max,2725.000000,10.000000,2.086921e+07,46531.000000,735.000000,2557.000000,2494.000000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2635 entries, 0 to 2634
Data columns (total 10 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   user_id                  2635 non-null   int64
 1   Channel                  2633 non-null   float64
 2   TotalTransactionAmount   2635 non-null   int64
 3   Tx_Count                 2635 non-null   int64
 4   DaysSinceLastTrans       2635 non-null   int64
 5   reseller_id              2633 non-null   float64
 6   superdealer_id           2633 non-null   float64
 7   Product_ServiceProvider  2456 non-null   object
 8   Product_Type             2456 non-null   object
 9   Product_Category         2456 non-null   object
dtypes: float64(3), int64(4), object(3)
memory usage: 206.0+ KB

In [6]:
df.isna().sum()

user_id                      0
Channel                      2
TotalTransactionAmount       0
Tx_Count                     0
DaysSinceLastTrans           0
reseller_id                  2
superdealer_id               2
Product_ServiceProvider    179
Product_Type               179
Product_Category           179
dtype: int64

In [7]:
pd.api.types.is_string_dtype(df["Product_ServiceProvider"])

True

In [8]:
df.Product_ServiceProvider.value_counts()

MTN                      813
Airtel                   700
Glo                      422
9mobile                  355
Jamb                      42
Eko Electric              33
Jos Electric              32
Ikeja Electric            18
DSTV                      13
Ibadan Electric           13
GOTV                      10
Portharcourt Electric      3
Startimes                  2
Name: Product_ServiceProvider, dtype: int64

In [9]:
df.Product_Category.value_counts()

Telco            2276
Electricity        99
Education          42
Cable TV           25
Universal Pin      14
Name: Product_Category, dtype: int64

In [10]:
df.Product_Type.value_counts()

Airtime        1878
Data            398
Prepaid          71
E-facility       42
Postpaid         28
Pay TV           25
Voucher Pin      14
Name: Product_Type, dtype: int64