## **Univariate Statistics Python Project**
**Supervisor: Zion Pibowei**

In [ ]:
import pandas as pd

In [ ]:
sales = pd.read_csv("G:\My Drive\Lectures\supermarket_sales.csv")
sales.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3

In [ ]:
sales.shape

(1000, 17)

### Objectives

<p><strong>0. About the Data </strong> <br>
    Create a cell at the beginning of your notebook and use markdown to give a brief description of the dataset and the agenda of your project. You can find more details about the data on Kaggle: <a href ="https://www.kaggle.com/aungpyaeap/supermarket-sales">https://www.kaggle.com/aungpyaeap/supermarket-sales</a> <p>

<p><strong>1. Describe each of the numerical variables using summary measures </strong> <br>
    (a) Summary measures to be computed: mean, median, variance, standard deviation, skewness, kurtosis <br>
    (b) Use Sympy to display the formula for each of the summary measures above <br>
    (c) Write custom functions to compute each of these summary measures, and apply the functions on each of the numerical variables</p>
<p><strong> 2. Describe each of the numerical variables using graphical methods </strong><br>
    (a) Use histograms, strip plots and box plots to plot the distribution of each of the variables <br>
    (b) Carry out your visualisations using pandas, matplotlib and seaborn for each of the variables.</p>
<p><strong>3. Describe each of the categorical variables using numerical methods </strong><br>
    (a) Obtain the unique categories and frequency of occurence of these elements for each of the categorical variables</p>
<p><strong> 4. Describe each of the categorical variables using graphical methods </strong><br>
    (a) Use pie charts and bar charts to plot the distribution of each of the categorical variables <br>
    (b) Carry out your visualisations using pandas, matplotlib and seaborn.</p><br>